## Syntax name for syntax highlighting
## Only specify names supported by prism.js
## List of supported syntaxes:
### bash c cpp asm6502 java python aspnet csharp cmake django dns-zone docker
### go hcl ignore javadoc json json5 kotlin latex makefile markdown matlab
### mongodb nasm nginx objectivec opencl perl php phpdoc plsql powershell
### processing prolog qml r regex ruby rust scala sql swift typescript
### verilog vhdl vim wasm
#SYNTAX="cpp sql"

## Design pages as you want
## Available items:
### navigation title comment reference source execution input output error pagination
#PAGE_TEMPLATE="navigation title comment reference source execution input output error pagination"
### navigation title comment reference pagination toc
#CHAPTER_TEMPLATE="navigation title comment reference pagination toc"

## How program should be treated
## Available items:
### object, source, headers, location, binary, page, input
### makefile, stepN optionN, extension-xyz, screenshot, error
#EXECUTION_SCHEME="compiler -C location -f makefile;binary options"

## Whether all sources in one line of .index file should appear in linkage
## usually other files are headers only and won't need to be linked to source
#INCLUDES=true

## File extensions used in different systems, e.g. .exe
### default output object is set to .o
### default executable extension is set to .bin
#OUTPUT_OBJECT=.o
#EXECUTABLE_EXTENSION=

## Some programs are based on GUI, you can capture a screenshot as output
#CAPTURE_SCREENSHOT=false

## Whether program should be run in the background
## Suitable for servers and services which need to wait for clients to compile
## and respond
## Rationally, servers should be compiled and executed first, then clients
#RUN_IN_BACKGROUND=false

## Specify the technical level of this topic
## This feature will be used in Milestone technical courses and tutorials
## Available items: basic intermediate expert
TECHNICAL_LEVEL=basic

## DO NOT EDIT!
#VALIDATION_ID=0
