
REPOSITORY_IDENTIFIER=cxx

# whether compilation or interpretation should be done
COMPILABLE=true

# compiler or interpreter used for building practices
COMPILER=g++

# compiler options (optional)
COMPILER_OPTIONS="-Wall -Os"

# maximum directory depth to search for files in this repository
MAX_DEPTH=4
MAX_DIR_LEVEL=$MAX_DEPTH # backward-compatibility

# whether above compiler or interpreter generates an executable file (true)
# or outputs the result to stdout stream (false)
EXECUTABLE_MODE=true
OUTPUT_OPTION="-o"
OUTPUT_FILE="practice"

# main extension used in this repository, eg: c, cxx, py, jar, tex, etc.
MAIN_EXTENSION=cu
PRIMARY_EXTENSION=$MAIN_EXTENSION # backward-compatibility

# additional extensions coming beside source codes. eg: md, txt, pdf, etc.
ADDITIONAL_EXTENSIONS="md config toc.txt reference.txt comment.txt input.txt output.txt md5sum.txt title.txt"

# whether comments be available
COMMENTS=true

# verbose log flag
VERBOSE=false

# very verbose log flag
VVERBOSE=false

# very bery verbose log flag
VVVERBOSE=false

# force flags
FORCE_COMPILATION=false
NO_COMPILATION=false
FORCE=$FORCE_COMPILATION # backward-compatibility

# force organization of directories and files
FORCE_ORGANIZATION=false
NO_ORGANIZATION=false

# caching process in compilation
NO_CACHE=false
